#trigger{
	width: 100vw;
    height: 1px;
    background: red;
    // background: $gray;
    @include position(absolute, 100vh 0 null 0);
}
#intro{
	background-image: url('../images/home-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -1px;

	.xd-logo{
		width: 20vw;
		@include transition(all 1s $ease-in-out-quad);
		opacity: 0;
		@include transform(translate(-50%, -60%));

		@include media($xs-mobile) {
			width: 40vw;
		}

		&.fade-up-in{
			@include transition-delay(.75s);
		}
	}

	.article{
		opacity: 0;
		@include transform(translate(-50%, -60%));
		@include transition(all 1s $ease-in-out-quad);

		&.fade-up-in{
			@include transition-delay(.75s);
		}
	}

}