#trigger{
	width: 100vw;
    height: 1px;
    background: red;
    // background: $gray;
    @include position(absolute, 100vh 0 null 0);
}
#intro{
	background-image: url('../images/home-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -1px;

	@include media($xs-mobile){
		height: 110vh;
	}
	@include media($v-iphone-6-plus){
		height: 110vh;
	}
	@include media($v-iphone-6){
		-webkit-clip-path: none;
		clip-path: none;
		height:130vh;
	}
	@include media($h-iphone){
		height: 200vh;
	}
	@include media($v-iphone-5){
		height:180vh;
	}

	.xd-logo{
		width: 20vw;
		@include transition(all 1s $ease-in-out-quad);
		opacity: 0;
		@include transform(translate(-50%, -60%));

		@include media($xs-mobile) {
			width: 40vw;
		}
		@include media($h-iphone) {
			@include transform(translate(-50%, -90%)!important);
		}
		@include media($v-iphone-5) {
			@include transform(translate(-50%, -90%)!important);
		}

		&.fade-up-in{
			@include transition-delay(.75s);
		}
	}

	.article{
		opacity: 0;
		@include transform(translate(-50%, -60%));
		@include transition(all 1s $ease-in-out-quad);

		&.fade-up-in{
			@include transition-delay(.75s);
		}
	}

}