#menu{
	margin-top: -10%!important;
	overflow: hidden;

	@include media($xs-mobile){
		margin-top:0!important;
		height: 110vh;
	}
	@include media($v-iphone-6-plus){
		margin-top:0!important;
		height: 110vh;
	}

	ul.absolute-right{
		right: 14.6vw;
		list-style: none;
		@include transform(translateY(-80%));

		@include media($sm-desktop){
			@include transform(translateY(-65%));
		}
		@include media($xs-mobile){
			right: 8vw;
			top: 10%;
			@include transform(translateX(0));
		}

		li{
			cursor: pointer;
			margin-bottom: 30px;

			.number{
				color: $green;

				&:after{
					content:'';
					display: inline-block;
					width: 30px;
					height: 30px;
					background-image: url('../images/right-arrow.svg');
					background-size: contain;
					background-repeat: no-repeat;
					margin-left: 25px;
				}
			}

			p{
				color: $gray;
			}
		}
	}

	div.absolute-top{
		.is-relative{
			height: 100%;
		}
	}

	.menu-title{
		left: 14.6vw;
		color: $gray;
		@include transform(translateY(-50%));

		b{
			color: $green;
		}

		@include media($xs-mobile){
			left: 5vw;
			bottom: 0;
			@include transform(translateY(35%));
		}

		@include media($h-iphone){
			left: 40vw!important;
			@include transform(translateY(100%)!important);
		}
	}

	#old-remote, #new-remote, #remote-on, #remote-off{
		width:100vw;
	}

	#new-remote{
		top: 0;
		@include media($sm-desktop){
			top:5%;
		}
	}
}