#menu{
	margin-top: -10%!important;
	overflow: hidden;
	ul.absolute-right{
		right: 14.6vw;
		list-style: none;

		li{
			cursor: pointer;
			margin-bottom: 30px;

			.number{
				color: $green;

				&:after{
					content:'';
					display: inline-block;
					width: 30px;
					height: 30px;
					background-image: url('../images/right-arrow.svg');
					background-size: contain;
					background-repeat: no-repeat;
					margin-left: 25px;
				}
			}

			p{
				color: $gray;
			}
		}
	}

	.menu-title{
		left: 14.6vw;
		color: $gray;
		@include transform(translateY(50%));

		b{
			color: $green;
		}
	}

	#old-remote, #new-remote, #remote-on, #remote-off{
		width:100vw;
	}

	#new-remote{
		top: 30%;
	}
}