nav{
    z-index:1000;
    @include position(fixed, 10.375vh null null 2.34vw);

    a{
        display: block;
        cursor: pointer;
        margin-bottom: 10px;

        strong{
        	opacity: 0;
        	@include transition(all .5s ease-in-out);
        }

        &:hover{
        	strong{
    			opacity: 1!important;
    		}
    	}
    }
}