@include keyframes (fadeIn) {
    0%{
        opacity:0;
    }
    99% {
        opacity:1;
    }
    100% {
        z-index:1;
        opacity:1;
    }
}
@include keyframes (fadeOut) {
    0%{
        opacity:1;
        z-index:inherit;
    }
    99% {
        opacity:0;
        z-index:inherit;
    }
    100% {
        z-index:-1000;
        opacity:0;
    }
}

@include keyframes (fadeUp) {
    0%{
        opacity:0;
        @include transform(translateY(10px));
    }
    50%{
        opacity:0;
        @include transform(translateY(0px));
    }
    100% {
        opacity:1;
        @include transform(translateY(0px));
    }
}

@include keyframes (reveal) {
    0%{
        opacity:0;
        height:0;
        @include transform(translateY(-20px));
    }
    1%{
        opacity:0;
        height:0;
        @include transform(translateY(-20px));
    }
    99%{
        height:100%;
        opacity:1;
        @include transform(translateY(0)); 
    }
    100% {
        height:auto;
        opacity:1;
        @include transform(translateY(0));
    }
}

@include keyframes (revealback) {
    0% {
        opacity:1;
        height:150%;
        @include transform(translateY(0));
    }
    100%{
        opacity:0;
        height:0;
        @include transform(translateY(-20px));
    }
}

@include keyframes (pulse) {
    0%,
    100%,
    30%,
    50%,
    60%,
    80% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(8px)
    }
    70% {
        transform: translateY(5px)
    }
}