@import "../components/variables";
@import "fonts";

html,body{
	margin:0;
	width:100%;
	// height:100%;
	// overflow-y:auto;
	background: $offwhite;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    outline: none;

    &:focus{
        outline: -webkit-focus-ring-color auto 5px;
    }
}

// .dark-link{
//     &:focus{
//         background: rgba(0,0,0,0.2)!important;
//     }
// }

// .tab-index{
//     &:focus{
//         outline: -webkit-focus-ring-color auto 5px;
//         background: #b4e7fd;
//         border:#7090a5 2px solid;
//     }
// }

button{
    @include appearance(none!important);
    background: none;
    cursor: pointer;
}


