
// Colors

  // Opaque
  
  $green: #65d0a7;
  $orange: #e9640b;
  $blue: #0272b5;
  $gray: #191919;
  $ltgray: #191919;
  $offwhite: #eef1f3;
  $white: #ffffff;
  $purple: #4fb3e0;
  $BLUE: #0272b5;
