section.gradient-wrap{
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin:0;
	width:100vw;
	height: 166vh;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 63%, 0% 100%);

	@include media($v-ipad-max-screen){
		height:100vh;
		-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 78%, 0% 100%);
		clip-path: polygon(0 0%, 100% 0%, 100% 78%, 0% 100%);
	}
	@include media($macbook-pro-13){
		height:206vh;
		-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 78%, 0% 100%);
		clip-path: polygon(0 0%, 100% 0%, 100% 78%, 0% 100%);
	}
	@include media($sm-desktop){
		height:206vh;
		-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 78%, 0% 100%);
		clip-path: polygon(0 0%, 100% 0%, 100% 78%, 0% 100%);
	}
	@include media($sm-mobile){
		height:166vh;
		-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 88%, 0% 100%);
		clip-path: polygon(0 0%, 100% 0%, 100% 88%, 0% 100%);
	}
	@include media($xs-mobile){
		height:166vh;
		-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 88%, 0% 100%);
		clip-path: polygon(0 0%, 100% 0%, 100% 88%, 0% 100%);
	}
	@include media($v-iphone-6-plus){
		-webkit-clip-path: none;
		clip-path: none;
		height: 125vh;
	}
	@include media($h-iphone){
		-webkit-clip-path: none;
		clip-path: none;
		height: 200vh;
	}
	@include media($v-iphone-5){
		-webkit-clip-path: none;
		clip-path: none;
		height:300vh;
	}
	&#intro{
		&:before{
			content:'';
			display: block;
			@include position(absolute, 0 null null 0);
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.25);
			z-index: 1;
		}
	}
	&#footer{
		-webkit-clip-path: polygon(0 63%, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 63%, 100% 0, 100% 100%, 0% 100%);

		@include media($sm-desktop){
			height:100vh;
			-webkit-clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
		}
		@include media($xs-mobile){
			-webkit-clip-path: none;
			clip-path: none;
		}
		@include media($v-iphone-6-plus){
			height:80vh;
			-webkit-clip-path: none;
			clip-path: none;
		}
		@include media($h-iphone){
			-webkit-clip-path: none;
			clip-path: none;
		}

		.bg-image{
		  	width:100vw;
		  	-webkit-clip-path: polygon(0 63%, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 63%, 100% 0, 100% 100%, 0% 100%);

			@include media($xs-mobile){
				-webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
			}
			@include media($v-iphone-6-plus){
				-webkit-clip-path: polygon(0 93%, 100% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 93%, 100% 0, 100% 100%, 0% 100%);
			}
			@include media($h-iphone){
				-webkit-clip-path: polygon(0 93%, 100% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 93%, 100% 0, 100% 100%, 0% 100%);
			}
		}
		background-image:url('../images/footer-bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.bg-image{
	  	width:100vw;
	  	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 63%, 0% 100%);

		@include media($xs-mobile){
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
			clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
		}
		@include media($v-iphone-6-plus){
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
			clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
		}
		@include media($h-iphone){
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
			clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
		}
	}
	div.absolute-top{
		width:100%;
		height: 100%;
	}
	div.is-relative{
		// border: 1px solid red;
	    display: block;
	    height: 63%;
		
		.article{
			text-align: left;
			width: 52vw;

			@include media($sm-desktop){
				width:70vw;
			}
			@include media($sm-mobile){
				width: 88vw;
			}
			@include media($xs-mobile){
				width: 88vw;
			}
			@include media($v-iphone-6-plus){
				width: 88vw;
			}
			@include media($h-iphone){
				width: 88vw;
			}

			h2.article-title{
				display: block;
				width:80%;
				// margin:0 auto;
				margin:0;

				@include media($sm-desktop){
					width:80%;
				}
				@include media($lg-mobile){
					width:85%;
				}
			}

			div.underline{
				display: block;
				width: 6.25vw;
				height:1px;
				background: $white;
				margin: 30px 0;

				@include media($xs-mobile){
					width:20vw;
				}
				@include media($v-iphone-6-plus){
					width:20vw;
				}
				@include media($h-iphone){
					width:20vw;
				}
			}

			p{
				width: 100%;
				margin: 0 auto;

				&:first-of-type{
					margin-top: 40px;
				}
			}

			a.email-link{
				margin-top: 35px;
				display: block;
			}
		}
	}
	
}

.article-container{
	background: $offwhite;
}