button{
	margin-top: 70px;
	background: $blue;
	color: $white;
	width: 12.5vw;
	height: 5.5vh;
	display: block;
	border-radius: 10vw;
    outline: none;
    -webkit-appearance: none;
    border-style: none;
    text-transform: uppercase;
    cursor:pointer;

    @include media($sm-mobile){
    	width: 200px;
    	height:45px;
    }
}

a{
    cursor: pointer!important; 
}

.extra-burger{
    display: none;
    @include position(fixed, 1.34vw 2.34vw null null);
    z-index: 999;
    cursor: pointer;
    img{
        display:inline-block;
        vertical-align: middle;
        width: 1.9vw;
        min-width: 20px;
        max-width: 30px;
        height:auto;
    }

    @include media($xs-mobile){
        display: none;
    }
    @include media($v-iphone-6-plus){
        display: none;
    }
    @include media($h-iphone){
        display: none;
    }
    &.active{
        display: block!important; 
    }
}